.contact-us {
  display: grid;
  row-gap: 48px;

  &__content {
    @include page-grid;

    column-gap: 1 / -1;
  }

  &__button {
    margin-bottom: 48px;
  }

  &__form {
    &-message {
      @include page-grid;

      column-gap: 1 / -1;
      border-radius: 16px;
      background-color: #f8f8fa;
      margin-bottom: 32px;
      grid-column: 1 / -1;
      padding: 14px 16px;
      cursor: pointer;
    }
  }

  &__types {
    @include page-grid;

    column-gap: 1 / -1;
    display: grid;
    border-radius: 40px;
    padding: 14px 16px;
    background-color: #f8f8fa;
    margin-bottom: 16px;
    cursor: pointer;
  }

  &__info {
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    cursor: pointer;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 24px;

    &-title {
      font-weight: 400;
    }
  }
}
