.contact-us {
  &__title {
    margin-bottom: 48px;
  }

  &__content {
    @include page-grid;

    grid-column: 1 / -1;

    &-form {
      grid-column: 1 / -1;
      width: 100%;

      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 5;
      }
    }

    &-info {
    grid-column: 1 / -1;
    margin-bottom: 120px;

    @include on-tablet {
      grid-column: span 3;
      }

    @include on-desktop {
      grid-column: 8 / -1;
      }

    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    cursor: pointer;
  }
  }

  &__types {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 40px;
    padding: 14px 16px;
    background-color: #f8f8fa;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
  }

  &__label {
    display: inline-block;
    margin-bottom: 8px;
  }



  &__link {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-weight: 400;
      font-size: 14px;
      margin: 0;
    }
  }

   &__button {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-desktop {
      margin-bottom: 182px;
    }
  }
}

.contact-us__form-message {
      outline: none;
      box-sizing: border-box;
      font-family: Poppins, sans-serif;
      width: 100%;
      border-radius: 16px;
      background-color: #f8f8fa;
      margin-bottom: 32px;
      padding: 14px 16px;
      cursor: pointer;
      border: none;
    }
