.details {
  display: grid;
  row-gap: 48px;
  margin-bottom: 60px;

  @include on-tablet {
    row-gap: 64px;
    margin-bottom: 120px;
  }

  @include on-desktop {
    row-gap: 47px;
    margin-bottom: 180px;
  }

  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__button {
    @include page-grid;




    &-btn {
      @include on-tablet {
        grid-column: 2 / 6;
      }

      @include on-desktop {
        grid-column: 5 / 9;
      }

      &:hover {
        box-shadow: 1px 4px 16px rgba(232, 232, 240, .4);
      }
      }
    }
  }

.detail {
  &__photos {
    @include page-grid;

    margin-block: 0 16px;
  }


  &__link {
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin-block: 0 8px;
  }

  &__content {
    @include page-grid;
  }

  &__desc {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 8;
    }
  }
}
