.move {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &-section{
    display: grid;
    row-gap: 32px;
    margin-block: 60px 92px;

    @include on-tablet {
      margin-block: 120px 132px;
    }

    @include on-desktop {
      margin-block: 120px 164px;
    }

  }

  &__content {
    margin: 0;
    padding: 0;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 6 / -2;
    }
  }
}
