.move {
  --coloms: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--coloms), 1fr);

  @include on-tablet {
    --coloms: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --coloms: 12;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &-section{
    display: grid;
    row-gap: 32px;
    margin-block: 60px 92px;

  }

  &__content {
    margin: 0;
    padding: 0;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }
}
