.section {
  &-title {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1.5px;
    color: $text-color-main;
    text-align: center;
    margin: 0;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 64px;
    }

    &--align-left {
      text-align-last: left;
      margin: 0;
    }
  }
}
