.footer {
  height: 200px;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }

  bottom: 0;

  z-index: -1;

  background-image: url(/src/img/bg/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
