.header {
  @include content-background-image;

  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;

    @include content-font-size-header;

    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 1;
    text-align: center;
  }

  &__bottom {
    @include content-padding-bottom-header;
  }
}
