.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include content-background-image;

  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100vh;

  &__title {
    margin: 0;

    @include content-font-size-header;

    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 1;
    text-align: center;
  }

  &__bottom {
    @include content-padding-bottom-header;
    @include content-padding-block;
  }
}
