  .icon {
    display: block;
    width: 24px;
    height: 24px;
    background-size: cover;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include on-tablet {
      height: 32px;
      width: 32px;
    }

    &--phone {
      background-image: url(/src/img/icons/icon-phone-call.svg);
    }

    &--menu {
      background-image: url(/src/img/icons/icon-menu.svg);

      &:hover {
        background-image: url(/src/img/icons/icon-menu-hover.svg);
      }
    }

    &--cross {
      background-image: url(/src/img/icons/icon-cross.svg);
    }
  }
