  .page {
  font-family: $text-family-main;
  font-weight: 400;
  font-style: normal;
  color: $text-color-main;
  scroll-behavior: smooth;

  &__body {
  margin: 0;
  background-color: $background-color-main;
}

  &__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  transition: all 0.7s;
  transform: translateX(-100%);

  opacity: 0;
  pointer-events: none;

    &:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
}
}
}
