.phone {
position: relative;
display: inline-flex;
align-items: center;
text-decoration: none;

.phone__number {
position: absolute;
white-space: nowrap;
right: 45px;
top: 50%;
transform: translateX(-8px) translateY(-50%);
opacity: 0;
pointer-events: none;
color: #fff;
font-size: 14px;
transition: opacity .2s ease, transform .2s ease;
}

@include on-desktop {
&:hover .phone__number {
opacity: 1;
transform: translateY(-50%) translateX(0);
}
}
}
