.product {

  &__photo {
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;

    margin-bottom: 8px;
  }

  &__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    margin-bottom: 16px;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }
}
