.product {
  display: grid;

  &__photo {
    width: 100%;
    margin-block: 0 32px;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin-block: 0 8px;
  }

  &__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-block: 0 16px;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
  }
}
