.top-bar {
  @include content-padding-block;
  @include content-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;


  &__logo {
    display: flex;
    transition: transform 0.7s;

    &:hover {
      transform: scale(1.11);
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}

